.mod-tinlienquan-style1 {

}
.mod-tinlienquan-style1 span {
    background: #F5F5F5;
    border-radius: 6px;
    margin: 2px 4px 2px 0;
    padding: 3px 5px;
    font-size: 12px;
    display: inline-block;
}

.mod-tinlienquan-style1 a.tinlienquan-title {
    font-weight: 700;
}
.mod-tinlienquan-style1 ul {
    margin: 0;
    padding: 0;
}
.mod-tinlienquan-style1 li {
    border-bottom: 1px solid #e8e8e8;
}