.mod-tinlienquan-style2 {
    padding: 10px;
    border: 15px solid #d2d2d2;
}
.mod-tinlienquan-style2 span {
    background: #F5F5F5;
    border-radius: 6px;
    margin: 2px 4px 2px 0;
    padding: 3px 5px;
    font-size: 12px;
    display: inline-block;
}

.mod-tinlienquan-style2 a.tinlienquan-title {
    font-weight: 700;
}

.mod-tinlienquan-style2 li {
    border-bottom: 1px solid #e8e8e8;
}